*{
    box-sizing: border-box;
}

.grid{
    margin: 0;
    /* border: 1px solid; */
    position: fixed;
    display: flex;

}

.content{
    border: 2px solid black;
    overflow-y: auto;
    margin-left: 35rem;
}

.subBtn{
    border: 1px solid black;
    margin-left: 1rem;
    margin-top: 11px
}
